
<%- include partials/header.ejs %>
<!-- Load images of products -->
<div class="container">
    <div class="row">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                <% for(var i=0; i<getRandomProducts.length; i++) { %>
                    <div class="item">
                        <div class="pad15">
                            <p class="lead"></p>
                            <h4><strong><%= getRandomProducts[i].product_name %></strong></h4>
                            <a href="products/<%= getRandomProducts[i].id %>/show">
                                <img src="/public/assets/images/<%= getRandomProducts[i].product_image %>" class="img-responsive" style="height: 250px; width: 100%;" alt="">
                            </a>
                            <h3>₹ <%= getRandomProducts[i].product_price %></h3>
                            <p>20% off</p>
                        </div>            
                    </div>
                <% } %>
                <div class="item">
                    <div class="pad15">
                        <p class="lead">Multi Item Carousel</p>
                        <p>₹ 1</p>
                        <p>₹ 6000</p>
                        <p>50% off</p>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <p class="lead">Multi Item Carousel</p>
                        <p>₹ 1</p>
                        <p>₹ 6000</p>
                        <p>50% off</p>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <p class="lead">Multi Item Carousel</p>
                        <p>₹ 1</p>
                        <p>₹ 6000</p>
                        <p>50% off</p>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <p class="lead">Multi Item Carousel</p>
                        <p>₹ 1</p>
                        <p>₹ 6000</p>
                        <p>50% off</p>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <p class="lead">Multi Item Carousel</p>
                        <p>₹ 1</p>
                        <p>₹ 6000</p>
                        <p>50% off</p>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <p class="lead">Multi Item Carousel</p>
                        <p>₹ 1</p>
                        <p>₹ 6000</p>
                        <p>50% off</p>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <p class="lead">Multi Item Carousel</p>
                        <p>₹ 1</p>
                        <p>₹ 6000</p>
                        <p>50% off</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-info leftLst"><</button>
            <button class="btn btn-info rightLst">></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <br/><br/><br/>
            <hr/>
        </div>
    </div>
</div>
