<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/public/assets/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/assets/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/public/assets/plugins/validator.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        
      </div>

      <div class="row justify-content-left">
        <div class="col-md-6">
          <div class="card">
            <header class="card-header">
              <h4 class="card-title mt-2">Add Product</h4>
            </header>
            <article class="card-body">
              <form data-toggle="validator" novalidate="true" id="AddProduct" name="addProduct" method="POST" action="/products/addProduct">
                <div class="form-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="Companies" class="control-label">Select Company</label>
                      <select class="form-control" id="Company" name="company">
                        <% for(var i=0; i<companies.length; i++) { %>
                            <% if(companies[i]['company_name'] === "something") { %>
                                <option value="<%= companies[i]['id'] %>" selected><%= companies[i]['company_name'] %></option>
                            <% } else { %>
                                <option value="<%= companies[i]['id'] %>"><%= companies[i]['company_name'] %></option>
                            <% } %>
                        <% } %>
                      </select>
                      <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="Categories" class="control-label">Select Category</label>
                      <select class="form-control" id="Category" name="category">
                        <% for(var i=0; i<categories.length; i++) { %>
                          <option value="<%= categories[i]['id'] %>"><%= categories[i]['CATEGORY_NAME'] %></option>
                        <% } %>
                      </select>                      
                      <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="ProductName" class="control-label">Product Name</label>
                      <input type="text" class="form-control" name="product_name" id="product_name" placeholder="Product Name" maxlength="200" required/>
                      <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="ProductDesciption" class="control-label">Product Description</label>
                      <textarea rows="4" cols="50" class="form-control" name="product_description" id="product_description" placeholder="Write a description" maxlength="200" required></textarea>
                      <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="ProductPrice" class="control-label">Product Price(in Rs)</label>
                      <input type="text" class="form-control" name="product_price" id="product_price" placeholder="Product Price" maxlength="10" pattern="^[0-9]+$" required/>
                      <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="ProductImage" class="control-label">Product Image</label>
                      <input type="file" class="form-control" name="product_image" id="product_image" placeholder="Product Image" required/>
                      <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                    </div>
                  </div>

                  <!-- Submit button -->
                  <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" id="Register" class="btn btn-outline-primary">Register</button>
                            <input id="Clear" class="btn btn-default" type="reset" name="clear" value="Reset" onclick="resetForm();" />
                        </div>
                    </div>
                  </div>
                </div>
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="./../public/assets/js/AddProduct.js"></script>
</body>
</html>